# Frontend - .env.local
NEXT_PUBLIC_API_URL=http://localhost:4000
NEXT_PUBLIC_RAZORPAY_KEY_ID=your_razorpay_key_id_here

# Backend - .env
MONGODB_URI=mongodb://...
JWT_SECRET=your_jwt_secret_here

MAIL_USER=your_email_here
MAIL_PASSWORD=your_email_password_here
FRONTEND_URL=http://localhost:3000
NODE_ENV=development

